.sender {
  margin-right: 3rem;
  background-color: #e4e5e6;
}

.receiver {
  margin-left: 3rem;
  background-color: #cddff1;
}

.card-header {
  padding: 0 0.5rem;
}

.card-body {
  padding: 0.4rem 1rem;
}
