<!-- Friends -->
<ng-container *ngIf="friends">
  <h2>Amis</h2>
  <hr />
  <div class="row g-2 mt-2">
    <app-players-list-item *ngFor="let player of friends" [player]="player" class="col-sm-6 col-lg-4 col-xl-3"> </app-players-list-item>
  </div>
</ng-container>

<!-- Pending -->
<ng-container *ngIf="pendingFriends">
  <h2>En attente</h2>
  <hr />
  <div class="row g-2 mt-2">
    <app-players-list-item *ngFor="let player of pendingFriends" [player]="player" class="col-sm-6 col-lg-4 col-xl-3">
    </app-players-list-item>
  </div>
</ng-container>

<!-- Not Friends -->
<ng-container *ngIf="notFriends">
  <h2>Autres</h2>
  <hr />
  <div class="row g-2 mt-2">
    <app-players-list-item
      *ngFor="let player of notFriends"
      [player]="player"
      (friendshipDemandEvent)="onFriendshipDemandEvent($event)"
      class="col-sm-6 col-lg-4 col-xl-3"
    >
    </app-players-list-item>
  </div>
</ng-container>
