<div>
  <h2 id="page-heading" data-cy="FriendshipChatHeading">
    <span jhiTranslate="gamerSquadApp.friendshipChat.home.title">FriendshipChats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gamerSquadApp.friendshipChat.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-friendship-chat"
        [routerLink]="['/friendship-chat/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gamerSquadApp.friendshipChat.home.createLabel"> Créer un nouveau Friendship Chat </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="friendshipChats?.length === 0">
    <span jhiTranslate="gamerSquadApp.friendshipChat.home.notFound">Aucun Friendship Chat trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="friendshipChats && friendshipChats.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="message">
            <div class="d-flex">
              <span jhiTranslate="gamerSquadApp.friendshipChat.message">Message</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sendAt">
            <div class="d-flex">
              <span jhiTranslate="gamerSquadApp.friendshipChat.sendAt">Send At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="friendship.id">
            <div class="d-flex">
              <span jhiTranslate="gamerSquadApp.friendshipChat.friendship">Friendship</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let friendshipChat of friendshipChats; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/friendship-chat', friendshipChat.id, 'view']">{{ friendshipChat.id }}</a>
          </td>
          <td>{{ friendshipChat.message }}</td>
          <td>{{ friendshipChat.sendAt | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="friendshipChat.friendship">
              <a [routerLink]="['/friendship', friendshipChat.friendship.id, 'view']">{{ friendshipChat.friendship.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/friendship-chat', friendshipChat.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/friendship-chat', friendshipChat.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(friendshipChat)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
