@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

img {
  border-radius: var(--bs-card-inner-border-radius) 0 0 0;
}

.menu {
  border-radius: 0.5rem;
}

button {
  border-radius: 0.5rem;
}

.active {
  color: #d5d6d7;
  background-color: #2f343a;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

@include media-breakpoint-down(lg) {
  img {
    border-radius: var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius) 0 0;
  }
}
