<div class="container">
  <jhi-alert></jhi-alert>
  <jhi-alert-error></jhi-alert-error>

  <h1 class="text-center display-5">Games</h1>
  <hr />

  <ng-container [ngSwitch]="isEmpty">
    <div class="alert alert-warning" *ngSwitchCase="true">
      <span>Aucun Game trouvé</span>
    </div>

    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 g-3" *ngSwitchCase="false">
      <app-games-list-item class="col" *ngFor="let game of games$ | async" [game]="game"> </app-games-list-item>
    </div>
  </ng-container>
</div>
