<img class="gs-banner rounded mx-auto" src="content/images/banner/gs-banner.png" alt="Gamer Squad" />

<div class="container gs-landing-container mt-3">
  <div [ngSwitch]="account !== null">
    <div class="" *ngSwitchCase="true">
      <div *ngIf="account">
        <h1 class="display-4">Bienvenue {{ account.login | titlecase }} sur Gamer Squad !</h1>
        <p class="lead">Le site pour rencontrer des joueurs et organiser des évènements avec ses amis</p>
      </div>
    </div>

    <div *ngSwitchCase="false">
      <div>
        <h1 class="display-4">Bienvenue sur Gamer Squad !</h1>
        <p class="lead">Le site pour rencontrer des joueurs et organiser des évènements avec ses amis</p>
      </div>

      <hr />

      <div class="card gs-card-warning">
        <div class="card-header">Vous n'êtes pas authentifié</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span jhiTranslate="global.messages.info.authenticated.prefix">Si vous voulez vous </span>
            <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">connecter</a>
          </li>
          <li class="list-group-item">
            <span jhiTranslate="global.messages.info.register.noaccount">Vous n'avez pas encore de compte ?</span>&nbsp;
            <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Créer un compte</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr />

  <!-- Features cards -->
  <div class="row row-cols-1 row-cols-lg-3 g-4 pb-2">
    <div class="col">
      <div class="card border-primary">
        <div class="card-header">Games</div>
        <div class="card-body">
          <p class="card-text">Dans ce menu vous retrouvez tous les jeux disponibles.</p>
          <p class="card-text">En vous abonnant à un jeu vous débloquez plusieurs fonctionnalités :</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Voir les joueurs abonnés</li>
          <li class="list-group-item">Faire une demande d'ami</li>
          <li class="list-group-item">Voir les évènements publics</li>
          <li class="list-group-item">S'inscrire à un évènement</li>
          <li class="list-group-item">Créer un évènement</li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary">
        <div class="card-header">Amis</div>
        <div class="card-body">
          <p class="card-text">Le Menu 'Amis' vous permets d'avoir accès à tous vos amis.</p>
          <p class="card-text">Dans cet espace vous aurez la possibilité de :</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Accepter une demande</li>
          <li class="list-group-item">Refuser une demande</li>
          <li class="list-group-item">Supprimer un ami</li>
          <li class="list-group-item">Accéder au chat</li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary">
        <div class="card-header">Mes évènements</div>
        <div class="card-body">
          <p class="card-text">Dans ce menu vous aurez accès à tous vos évènements.</p>
          <p class="card-text">Avec ces évènements, vous aurez alors la possibilité de :</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Voir ceux que vous possédés</li>
          <li class="list-group-item">Voir ceux dont vous êtes abonné</li>
          <li class="list-group-item">Voir ceux qui sont en attente</li>
          <li class="list-group-item">Accepter ou refuser une invitation</li>
          <li class="list-group-item">Voir le détail d'un évènement</li>
        </ul>
      </div>
    </div>
  </div>
</div>
