<div class="modal-header justify-content-center" *ngIf="player">
  <h4 class="modal-title">Confirmation de suppression</h4>
</div>

<div class="modal-body text-center">
  <jhi-alert-error></jhi-alert-error>
  <p class="mb-0">
    Êtes-vous certain de vouloir supprimer <strong>{{ player.userLogin | titlecase }}</strong> de votre évènement ?
  </p>
</div>

<div class="modal-footer justify-content-center">
  <button type="submit" class="btn btn-danger" (click)="confirmDelete()">
    <fa-icon icon="times"></fa-icon>&nbsp;<span>Supprimer</span>
  </button>

  <button type="button" class="btn btn-secondary" data-dismiss="modal" ngbAutofocus (click)="cancel()">
    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Annuler</span>
  </button>
</div>
